.card-container{
	position: relative;
	width: 18rem;
	perspective: 200rem;
	height: 412px;
}

.card-container:hover .card-front{
	transform: rotateY(180deg);
}

.card-container:hover .card-back{
	transform: rotateY(0deg);
}

.card-back{
	transform: rotateY(180deg);
}

.card{
	position: absolute;
	height: 100%;
	width: 100%;
	transition: all 0.9s;
	backface-visibility: hidden;
}

.card-back .card-body{
	position: relative;
}

.card-body a{
	position: absolute;
	top:50%;
	left: 50%;
	margin: -15% 0 0 -23%;
}